@font-face {
  font-family: 'Lexend';
  src: url('/assets/fonts/Lexend-Thin.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Lexend';
  src: url('/assets/fonts/Lexend-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Lexend';
  src: url('/assets/fonts/Lexend-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Lexend';
  src: url('/assets/fonts/Lexend-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Lexend';
  src: url('/assets/fonts/Lexend-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Lexend';
  src: url('/assets/fonts/Lexend-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Lexend';
  src: url('/assets/fonts/Lexend-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Lexend';
  src: url('/assets/fonts/Lexend-Black.ttf');
  font-weight: 900;
}
